#newsbox {
	background-color: orchid;
	display:none;
	width: 100%;
	z-index: 10000;
    left: 0px;
	position: fixed;
	bottom: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
    height: 98%;
}

.news-text p {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 13px;

}
.news-continue {
	width: 70px;
	text-align: center;
	margin-top: 10px;
	margin-left: 20px;
}