/* Body */  

* {
     padding: 0;
     margin: 0;
     border: 0;
     top:0;
 }
 
 a {
     text-decoration: none;
 }
 
 a:hover {
     color: white;
 }
 
 body {
     font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
     height: 100%;
 }
 
 .clear {
     clear: both;
 }

 /* Index */
 
 .section {
     position: fixed;
     width: 100%;
     height: 100%;
 }
 
 .select_babyname {
     position: relative;
     height: 45%;
     width: 100%;
     background-color: #f0414b;
 }
 
 .select_hundename {
     position: relative;
     height: 45%;
     width: 100%;
     background-color: #ffe7de;
 }
 
 .topbar {
     background-color: #becbd3;
     height: 10%;
     width: 100%;
     padding-left: 20px;
     line-height: 3;
     font-size: 1.5em;
 }
 
 .txt_baby a {
     color: #ffe7de;
 }
 
 .txt_baby a:hover {
     color: white;
 }
 
 .txt_baby {
     position: relative;
     top: 40%;
     color: #ffe7de;
     font-size: 2.5em;
     text-align: center;
     vertical-align: middle;
 }
 
 .txt_hundename a {
     color: #f0414b;
 }
 
 .txt_hundename a:hover {
     color: white;
 }
 
 .txt_hundename {
     position: relative;
     top: 40%;
     color: #f0414b;
     font-size: 2.5em;
     text-align: center;
     vertical-align: middle;
 }

 /* Startscreen Baby + Hunde */

 .invisible {
     display: none;
 }
 
 .visible {
     display: block;
 }
 
 .shown {
     display: none;
 }
 
 .menu {
     position: relative;
     height: 15%;
     width: 100%;
     font-size: 1.5em;
 }
 
 .duell {
     position: relative;
     float: left;
     width: 50%;
     height: 100%;
     padding-top: 1.5%;
     background-color: #68d2c4;
     vertical-align: middle;
     text-align: center;
     border: none;
 }

.duell_startscreen_button{
     padding: 6px;
    width: 100%;
     color: #FFFFFF;
     text-decoration: none;
     border-bottom: 4px solid #68D2C4;
     margin: 0px 15px 15px 0px;
     display: inline-block;
     border-radius: 5px;
    background: #68D2C4;
    -webkit-appearance: none;
}
 
.duell a:focus,
.duell a:hover{
    color:white;
    text-decoration: none;
}

 .einstellungen {
     position: relative;
     float: left;
     width: 50%;
     height: 100%;
     padding-top: 1.5%;
     background-color: #f0414b;
     vertical-align: middle;
     text-align: center;
 }
 
 .name_tinder {
     position: relative;
     padding-top: 10%;
     height: 30%;
     width: 100%;
     background-color: white;
     vertical-align: middle;
     text-align: center;
 }
 
 .name {
     font-size: 3em;
 }
 
 .hearts {
     position: relative;
     height: 30%;
     width: 100%;
 }
 
 .bheart {
     position: relative;
     float: left;
     width: 50%;
     height: 100%;
     vertical-align: middle;
     text-align: center;
     top: 10%;
 }

.dogname a{
     color: black!important; 
}

.dogname{
   
    font-size: 3em;
}
 
 .heart {
     float: left;
     width: 50%;
     height: 100%;
 }

.section {
     background-color: white;
 }
 
 #object {
     min-height: 700px;

 }
 
 a.button {
     padding: 6px;
     background-color: #61e69d;
     color: #FFFFFF;
     text-decoration: none;
     border-bottom: 4px solid #5cd994;
     margin: 0px 15px 15px 0px;
     display: inline-block;
     border-radius: 5px;
     font-size: 16px;
 }
 
 #clickme {
     width: 100%;
     height: 100%;
     background-color: transparent;
     border: none;
 }

.swipeout{
    background-color: #FFF7F5!important;
    border-bottom: 3px solid #FFE8E0;
}

.item-after{
    background-image: url("/img/heart.svg");
    background-repeat: no-repeat;
}

 /* Filter */
 
 .formline {
     position: relative;
     background-color: #ffffff;
     height: 10%;
     width: 90%;
     padding-left: 20px;
     font-size: 1.2em;
 }

 .count{
    width: 80%;
    text-align: right;
    height: 10%;
}
 
 .dauer {
     position: relative;
     font-size: 1.2em;
     height: 10%;
 }

.item-content{
    text-align: center;
}

.list-block{
    border: none;
    margin: -1px !important;
}

 textarea:focus,
 input:focus {
     outline: none;
 }
 
 #vname {
     margin-top: 2%;
     padding-left: 1%;
     height: 60%;
     font-size: 1em;
     background-color: #d7fff8;
     width: 90%;
 }
 
 #abst {
     margin-top: 1%;
     padding-left: 1%;
     height: 60%;
     font-size: 1em;
     background-color: #d7fff8;
     width: 90%;
 }
 
 #minimaxi {
     position: relative;
     background-color: #fff7f5;
     color: #f0414b;
     font-size: 1em;
     width: 10%;
     vertical-align: middle;
     text-align: center;
     height: 70%;
 }
 
 #dropdown {
     border: 2px solid #f0414b;
     width: 90%;
     height: 70%;
     font-size: 1em;
     background-color: white;
 }
 
 .tickbox {
     position: relative;
     height: 10%;
     width: 100%;
     font-size: 1.2em;
     background-color: #f0414b;
     vertical-align: middle;
     text-align: center;
 }

.tickbox input{
    background: transparent;
    color: #fff;
    border: 0;
    padding-right: 20px;
    cursor: pointer;
    position: relative;
    padding: 5px 20px 5px 5px;
    z-index: 1;
}

.radio{
    padding-left: 10px;
    padding-right: 10px;
}

.radio_float{
    width: 50%;
    float: left;
}

/* Duellmode */
 
 .select_duellone {
     position: relative;
     height: 45%;
     width: 100%;
     background-color: #ffffff;
 }
 
 .select_duelltwo {
     position: relative;
     height: 45%;
     width: 100%;
     background-color: #68d2c4;
 }
 
 .txt_one a {
     color: #68d2c4;
 }
 
 .txt_one a:hover {
     color: #ffe7de;
 }
 
 .txt_one {
     position: relative;
     top: 40%;
     color: #68d2c4;
     font-size: 2.5em;
     text-align: center;
     vertical-align: middle;
 }
 
 .txt_two a {
     color: #ffffff;
 }
 
 .txt_two a:hover {
     color: #ffe7de;
 }
 
 .txt_two {
     position: relative;
     top: 40%;
     color: #ffffff;
     font-size: 2.5em;
     text-align: center;
     vertical-align: middle;
 }

 /* Registrieren Duell */
 
 .duell_bottom {
     position: relative;
     padding-top: 1%;
     height: 10%;
     width: 100%;
     font-size: 1.2em;
     background-color: #f0414b;
     vertical-align: middle;
     text-align: center;
 }
 
 .duell_bottom a {
     color: #ffffff;
 }
 
 .registrieren .formline {
     background-color:
 }
 
 .duell_link {
     text-align: right;
 }
 
 .duell_link a {
     color: #f0414b;
 }

 #pw {
     padding-left: 1%;
     height: 60%;
     font-size: 1em;
     background-color: #d7fff8;
     width: 100%;
 }
 
 #email {
     padding-left: 1%;
     height: 60%;
     font-size: 1em;
     background-color: #d7fff8;
     width: 100%;
 }

/* Entfernen des Stylings auf IOS Endgeräten */

.submit{
    font-size: 1em;
    background-color: #f0414b;
    color: white;
    width: 100%;
    height: 100%;
}

.duell_starten{
    font-size: 1em;
    color: white;
    width: 100%;
    height: 100%;
    background-color:#68D2C4;
}

input[type='submit']
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;  
    border-radius: 0;
}

/* Duell Einstellung */

.list-block ul:before,
.list-block ul:after {
    background-color: white;
}

.date_picker{
    background-color: #f0414b; 
    min-height: 70px!important;
}

#date{
width: 45%; margin: 0 auto;
}

.dauer{
    padding-left: 2.5%;
}

.list-block .item-content{
    padding-left: 5%!important;
}

.list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block select, .list-block textarea{
    color: white!important;
}
 
 .duell_bottom_einst {
     position: relative;
     padding-top: 1%;
     height: 10%;
     width: 100%;
     font-size: 1.2em;
     background-color: #68d2c4;
     vertical-align: middle;
     text-align: center;
 }
 
 .button_duell:focus,
 .button_duell:focus {
     outline: none;
 }
 
 .duell_bottom_einst a {
     color: #ffffff;

 }
 
 .button_duell {
     background-color: #f0414b;
     border: none;
     color: white;
     width: 100%;
     height: 90%;
     font-size: 1em;
 }

#post-shortlink{
    width:100%;
    font-size: 1em;
    background-color: #D7FFF8;
    height: 50%;
    z-index: 0;
}

 /* Liste */
#copy-button{
    background: #D7FFF8;
    height: 100%;
    z-index:1;
}

#copy-button input{
    color:#D7FFF8;
    background-color: #D7FFF8;
}


.list_container{

}

.share{
    background-color: #68d2c4!important;
}


.trash{
    padding: 0px 60px 0px 0px; 
    height: 60%;
}

.duell_border:first-child {
    border: none;
}
 .duell_bg {
     background-color: #68d2c4;
 }

.left{
    padding-left: 4.5%;
 }

.navbar, .subnavbar, .toolbar {
    background: #becbd3!important; 
}

/* Win */
.heart_win{
    background-image: url("/img/heart.svg");
    background-repeat: no-repeat;
    height: 60%;
    font-size: 5em;
    font-weight: bold;
    width: 90%;
    margin: 0 auto; 
 
}

.winner{
    padding-top: 20%; 
    width: 90%; 
    margin:0 auto; 
    text-align: center; 
    color: white;
}

@media (min-width: 550px) {
    .winner{
    width: 30px;
    margin-left: 115px;
    margin-top: 100px;
    position: fixed;
        
    }
}


@media (min-width: 1000px) {
    .winner{
        margin-top: 0;
    }
}


input#filtersubmit {
    cursor: pointer;
    text-indent: -99999px;
    border: none;
    width: 41px;
    height: 42px;
}

#filtersubmit{
    padding: 5%;
    padding-top: 1%;
}

spacer{
    height: 5%;
}

/* Mobile Only */

.mobileShow {display: none;}
/* Smartphone Portrait and Landscape */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .mobileShow { display: inline;}}

.mobileHide { display: inline;}
/* Smartphone Portrait and Landscape */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){  .mobileHide { display: none;}}


/* Verhindert das drehen der Web App */ 

#orr {	
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:rgba(0,0,0,0.75);
	z-index:1999;
}

